html,body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* background-color: #000000; */
  color: #757575;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;

  display: flex;
  flex-direction: row;
  user-select: none;
}
body{
  background-image: url('./bg-dot.png');
  background-repeat: repeat;
}





canvas{
  position: fixed;
  object-fit: contain;
  object-fit: scale-down;
  cursor: grab;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

.hidden{ display: none;}
.allcaps{ text-transform: uppercase; }
.darkgrey{ color: #525252; }
input[type="radio"]{ display: none; }
*:focus { outline: none; }
h1{ 
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 800; 
}

a, a:link, a:visited, a:active, a:focus{
  color: #757575;
  text-decoration: none;
  cursor: pointer;
  /* display: flex;
  width: fit-content; */
  
}
a:hover{
  text-decoration: underline;
}


#settings {
  z-index: 99999;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 10px;
  
  font-size: 15px;
  font-family: 'Roboto Mono';
}



.block{
  display: flex;
  gap: 10px;
}

input{
  appearance: none;
}






.line{
  background-color: #525252;
  height: 1px;
  min-height: 1px;
  width: auto;
  margin: 10px 0;
}

input+label{
  margin-top: 10px;
}








input[type="text"], input[type="number"] {
  
  background-color: #000000;
  color: #757575;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;

  box-sizing: border-box;
  height: 30px;
  width: 100%;

  border: 1px solid #757575;
  border-radius: 5px;
}

/* Убираем стрелки у input type="number" */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




button{
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 30px;
  min-height: 30px;
  box-sizing: border-box;
  border: 1px solid #757575;
  border-radius: 5px;  
  background-color: #000000;
  padding: 1px;
}

button:hover, .file-upload-button:hover{
  background-color: #757575;
  color: #000000;
  cursor: pointer;
}




input[type="range"]{
  -webkit-appearance: none;
  appearance: normal;
  height: 2px;
  border-radius: 0;  
  background: #757575;
  outline: none;
  opacity: 0.9;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #757575;
  border-radius: 50%; 
  background:#000000;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 2px solid #757575;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}


input[type="range"].onRecord::-webkit-slider-thumb {
  border-color: red;
  background-color: red;
}

input[type="range"].onRecord::-moz-range-thumb {
  border-color: red;
  background-color: red;
}




input[type="checkbox"]{
  margin: 10px 0;
}





#info{
  font-size: 12px;
}




.totally_hidden,
.hidden{
  display: none !important;
}





#recordMp4Button,
#recording>button{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
}



#recording{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

#progressbar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: transparent;
}
#progress{
  height: 100%;
  background-color: red;
  width: 0;
}



.dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

#recording .dot{
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

#end_record_button{
  background-color: rgba(255,0,0,0.8);
}
#end_record_button:hover{
  color: white;
  background-color: rgba(255,0,0,1);
}






